<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Manage</title>
</head>
<body>
<div>
    <h1>Tra cứu thông tin tuyển sinh</h1>
    <p>Choose student information file to import:</p>
    <form method="post" th:action=@{/upload} enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Submit File">
    </form>
    <p th:text="${message}"></p>
</div>
</body>
</html>
